{% extends "layout.html" %}
{% set title = 'Learn to resolve disputes with an employer' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Find a solution to your employment dispute
</h1>

      <p class="govuk-body">Use this service to notify Acas that you want to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>get a certificate to make a claim to an employment tribunal</li>
        <li>try early conciliation</li>
      </ul>
      <p class="govuk-body">The form will ask you for:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your full name - for example, the name on your passport or driving licence</li>
        <li>the name and address of the organisation or employer - find this on a recent letter, payslip, P60 or P45</li>
      </ul>

      <h2 class="govuk-heading-m">If you want to try Acas early conciliation</h2>
      <p class="govuk-body">It’s helpful if you can provide:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your phone number and email address - so we can get in touch with you quickly</li>
        <li>the contact details of someone that may be willing to sort things out without going to employment tribunal - for example, a line manager or HR </li>
        <li>brief details about what’s happened - you’ll have the chance to tell us more later on</li>
      </ul>

      <p class="govuk-body">This is all you need to get a certificate to take to an employment tribunal.</p>

      {{ govukButton({
        text: "Start now",
        href: "#",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}



      <p class="govuk-body">You can also <a class="govuk-link" href="#">register by post</a>.</p>

      <p class="govuk-body">The online service is also available in <a class="govuk-link" href="#">Welsh (Cymraeg)</a>.</p>

      <p class="govuk-body">You cannot register for this service if you’re in the UK illegally.</p>
    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->


    </div>
  </div>
{% endblock %}
