{% extends "layout.html" %}
{% set title = 'Learn to resolve disputes with an employer' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Reach an agreement through early conciliation: step by step</h1>
<p class="govuk-body">How to use our early conciliation service, where a conciliator speaks with you and your employer separately to help resolve the dispute. </p>



{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-with-summary-sections",
  items: [
    {
      heading: {
        text: "Notify Acas of the dispute"
      },
      content: {
        html:
        '<ul class="govuk-list">
          <li>
            <a class="govuk-link" href="https://www.acas.org.uk/early-conciliation/how-early-conciliation-works">Find out about what early conciliation is and how it can help you</a>
          </li>
          <li>
            <a class="govuk-link" href="/start-tell">Find a solution to your employment dispute (tell.acas.org.uk)</a>
          </li>

        </ul>'
      }
    },
        {
      heading: {
        text: "Have your first call"
      },
      content: {
        html:
        '<p class="govuk-body">You will have a short call with us so we can get your case allocated to a conciliator.</p>'

      }
    },
    {
      heading: {
        text: "Speak with your conciliator"
      },
      content: {
        html:
        '<p class="govuk-body">Your conciliator will call you to introduce themselves and get any more information they need.</p>
      '
      }
    },
    {
      heading: {
        text: "Wait for your employer to respond"
      },
      content: {
        html:
        '<p class="govuk-body">Your conciliator will update you if your employer responds. Check your emails and voicemail regularly in case your conciliator has tried to contact you.</p>
    '
      }
    },
    {
      heading: {
        text: "Reach a legally binding agreement"
      },
      content: {
        html:
        '<p class="govuk-body">If you and your employer reach an agreement, your conciliator will put this into a legally binding agreement called a COT3.</p>
        <p class="govuk-body">Find out about:</p>
        <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">COT3 agreements</a>
            </li>
            <li>
              <a class="govuk-link" href="#">how to enforce COT3 agreements</a>
            </li>
        </ul>'
      }
    },
    {
      heading: {
        text: "Get a certificate and make a claim to an employment tribunal"
      },
      content: {
        html:
        '<p class="govuk-body">If you and your employer cannot reach an agreement, your conciliator will send you a certificate. You can use this to make a claim to an employment tribunal.</p>
        <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">Find out about making a claim to an employment tribunal</a>
            </li>
        </ul>'
      }
    }
  ]
}) }}
{% endblock %}
