<header class="acas-header" role="banner">
  <div class="acas-header__container">
    <div class="acas-header__logo">
      <image src="public/images/acas-logo.png" height="20px" />
      <!--<a class="acas-header__link acas-header__link--organisation-name" href="/start">Acas</a>-->
      <a class="acas-header__link acas-header__link--service-name" href="../">Resolve a dispute journey</a>
      <span class="app-phase-tag">
        {{ govukTag({
          text: 'Prototype',
          classes: 'govuk-!-margin-left-1'
        }) }}
      </span>
    </div>

  </div>
</header>
