{% extends "layout.html" %}
{% set title = 'Learn to resolve disputes with an employer' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block beforeContent %}
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "#"
},
{
text: "Section",
href: "#"
},
{
text: "Subsection"
}
]
}) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Get early conciliation or a certificate for an employment tribunal
    </h1>
    <p class="govuk-body">Use this form to get:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>early conciliation – where Acas speaks with you and your employer separately to try and resolve the problem without going to an employment tribunal
      </li>
      <li>a certificate to make a claim to an employment tribunal
      </li>
    </ul>
    <p class="govuk-body">You will need the name and address of the organisation or employer – find this on a recent letter, payslip, contract, P60 or P45.
    </p>
    <p class="govuk-body">The form will automatically save so you can return to it if you need to.
    </p>
    {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
    {{ govukWarningText({
    text: "Submitting this form is the start of a legal process",
    iconFallbackText: "Warning"
    }) }}
    <p class="govuk-body">
      You should make sure you know   <a href="https://content.acas.bbdtest.co.uk/dealing-with-problems-at-work" class="govuk-link" rel="noreferrer noopener" target="_blank">what the process</a>.
    </p>
    {{ govukButton({
    text: "Start now",
    href: "#",
    classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
    isStartButton: true
    }) }}
    <h2 class="govuk-heading-m">If you need help using this online form
    </h2>
    <p class="govuk-body">If you need help or speak another language, contact Acas early conciliation support.
    </p>
    <ul class="govuk-list govuk-body">
      <li>
        Telephone: 0300 123 1122
      </li>
      <li>
        Monday to Friday, 9am to 5pm
      </li>
      <li>
        Relay UK: 18001 0300 123 1122
      </li>
      <li>
        Use Relay UK if you cannot hear or speak on the phone.
      </li>
    </ul>
  </div>

{% endblock %}
