{% extends "layout.html" %}
{% set title = 'Learn to resolve disputes with an employer' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Raise a problem at work: step by step</h1>
<p class="govuk-body">How to try informal and formal steps at work to resolve a dispute. </p>


{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-with-summary-sections",
  items: [
    {
      heading: {
        text: "Speak with your manager or employer"
      },
      content: {
        html:
        '<ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://www.acas.org.uk/how-to-raise-a-problem-at-work">Find out how to speak with your employer about a work problem</a>
              </li>
        </ul>'
      }
    },
        {
      heading: {
        text: "Make a formal complaint"
      },
      content: {
        html:
        '<p class="govuk-body">Making a formal complaint to your employer about a work problem is called raising a grievance.</p>
        <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://www.acas.org.uk/grievance-procedure-step-by-step">Follow the steps of a grievance procedure</a>
            </li>
            <li>
              <a class="govuk-link" href="https://www.acas.org.uk/grievance-letter-template">Use our grievance letter template</a>
            </li>
            <li>
              <a class="govuk-link" href="https://www.acas.org.uk/mediation">Check if mediation might be an option for you</a>
            </li>
        </ul>'
      }
    },
    {
      heading: {
        text: "Appeal a decision"
      },
      content: {
        html:
        '<p class="govuk-body">Raising an appeal is where you ask your employer to look again at a decision they have made that affects you. You can appeal a</p>
        <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">dismissal</a>
            </li>
            <li>
              <a class="govuk-link" href="#">disciplinary outcome</a>
            </li>
            <li>
              <a class="govuk-link" href="#">grievance outcome</a>
            </li>
            <li>
              <a class="govuk-link" href="#">flexible working request decision</a>
            </li>
            <li>
              <a class="govuk-link" href="#">redundancy</a>
            </li>
        </ul>'
      }
    },
    {
      heading: {
        text: "Ask Acas for early conciliation"
      },
      content: {
        html:
        '<p class="govuk-body">If you and your employer are not able to resolve the problem, you can start the legal step of notifying Acas.</p>
        <p class="govuk-body">You can then try our free early conciliation service. This is where we speak to you and your employer separately to see if you can reach an agreement.</p>
        <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://acas-dispute-resolution.herokuapp.com/negotiate-an-agreement-with-an-employer-through-early-conciliation">Reach an agreement through early conciliation: step by step</a>
            </li>
        </ul>'
      }
    }
  ]
}) }}
{% endblock %}
