{% extends "layout.html" %}
{% set title = 'Learn to resolve disputes with an employer' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Resolve a dispute with your employer: step by step</h1>
<p class="govuk-body">How to resolve a dispute with your employer, including taking legal action.</p>



{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-with-summary-sections",
  items: [
    {
      heading: {
        text: "Check your employment rights"
      },
      content: {
        html:
        '<p class="govuk-body">You should check the law around your dispute and what your rights are.</p>
        <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://www.acas.org.uk/advice">Check if your dispute might be a legal claim</a>
              </li><li>
              <a class="govuk-link" href="https://www.acas.org.uk/contact">Contact the Acas helpline</a>
            </li>

        </ul>'
      }
    },
        {
      heading: {
        text: "Check your time limit"
      },
      content: {
        html:
        '<p class="govuk-body">There are time limits for making a claim to an employment tribunal. Your time limit will depend on the type of claim you have.</p>
        <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">Find out about time limits</a>
            </li>
        </ul>'
      }
    },
    {
      heading: {
        text: "Get advice and support"
      },
      content: {
        html:
        '<p class="govuk-body">Experiencing a work problem can be very stressful. You should get support where needed.</p>
        <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">Find out where to get emotional support</a>
            </li>
        </ul>'
      }
    },
    {
      heading: {
        text: "Raise the problem at work"
      },
      content: {
        html:
        '<p class="govuk-body">Before you start any legal process, you should raise the problem at work.</p>
        <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://acas-dispute-resolution.herokuapp.com/speak-to-an-employer-about-a-work-problem">Raise the problem at work: step by step</a>
            </li>
        </ul>'
      }
    },
    {
      heading: {
        text: "Start early conciliation"
      },
      content: {
        html:
        '<p class="govuk-body">Early conciliation is a free Acas service. We talk to both you and your employer about your dispute. It gives you the chance to come to an agreement without having to go to a tribunal.</p>
        <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://acas-dispute-resolution.herokuapp.com/negotiate-an-agreement-with-an-employer-through-early-conciliation">Reach an agreement through early conciliation: step by step</a>
            </li>
            <li>
              <a class="govuk-link" href="https://tell.acas.org.uk">Find a solution to your employment dispute (tell.acas.org.uk)</a>
            </li>
        </ul>'
      }
    },
    {
      heading: {
        text: "Make a claim to an employment tribunal"
      },
      content: {
        html:
        '<p class="govuk-body">If you were not able to resolve the dispute at work or through early conciliation, you might think about making a claim to an employment tribunal.</p>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="https://www.gov.uk/employment-tribunals"> Find out about going to an employment tribunal</a>
          </li>
          <li>
            <a class="govuk-link" href="https://www.gov.uk/employment-tribunals/make-a-claim"> Submit an employment tribunal claim form (ET1)</a>
          </li>
        </ul>'
      }
    }
  ]
}) }}
{% endblock %}
