{% extends "layout.html" %}
{% set title = 'Learn to resolve disputes with an employer' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block beforeContent %}
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "#"
},
{
text: "Section",
href: "#"
},
{
text: "Subsection"
}
]
}) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Get early conciliation or a certificate for an employment tribunal
    </h1>
    <p class="govuk-body">
      Use this form to get:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>early conciliation – where Acas speaks with you and your employer separately to try and resolve the problem without going to an employment tribunal
      </li>
      <li>a certificate to make a caim to an employment tribunal
      </li>
    </ul>
    <p class="govuk-body">
      Check you’ve followed the right steps before starting.
    </p>
    <h2 class="govuk-heading-m">
      Step 1: Check your time limit
    </h2>
    <p class="govuk-body">
      There are time limits for employment tribunal claims. You need to complete this form within the time limit – this is usually 3 months minus 1 day.
      <a href="#" class="govuk-link">Find out when your time limit starts</a>.
    </p>
    <h2 class="govuk-heading-m">
      Step 2: Check you’ve followed the right procedure with your employer
    </h2>
    <p class="govuk-body">
      Problems at work can often be resolved by
      <a href="#" class="govuk-link">speaking with your employer</a>.
    </p>
    <p class="govuk-body">
      Before starting the form, where possible try to either:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="#" class="govuk-link">raise a grievance
        </a> – this is where you make a formal complaint to your employer
      </li>
      <li>
        <a href="#" class="govuk-link">raise an appeal
        </a> – if you think you were dismissed unfairly
      </li>
    </ul>
    <h3 class="govuk-heading-s">
      If you did not try to resolve the problem with your employer
    </h3>
    <p class="govuk-body">
      You could lose up to 25% of any compensation you might receive if you make a claim to an employment tribunal.
    </p>
    <p class="govuk-body">
      Make sure you have enough time limit left to try this step. Your tribunal time limit will not get extended for any time you spend trying to resolve the problem with your employer.
    </p>

    <h2 class="govuk-heading-m">
      Step 3: Decide if you want early conciliation
    </h2>
    <p class="govuk-body">
      Early conciliation is a free service where Acas speaks with you and your employer separately to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        help you reach an agreement
      </li>
      <li>avoid you having to go to an employment tribunal
      </li>
    </ul>
    <h3 class="govuk-heading-s">
      The benefits
    </h3>
    <p class="govuk-body">Most claims are resolved through Acas conciliation.
    </p>
    <p class="govuk-body">Early conciliation is much quicker and less stressful than going to an employment tribunal because:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        it lasts a maximum of 6 weeks – you can wait up to 1 year for a tribunal hearing
      </li>
      <li>it can help keep a good relationship with your employer
      </li>
      <li>you can agree outcomes that you cannot get from a tribunal, for example a job reference
      </li>
    </ul>
    <h2 class="govuk-heading-m">
      Step 4: Get support and advice
    </h2>
    <p class="govuk-body">
      Experiencing a work problem can be stressful. If you need support or advice, you can:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="#" class="govuk-link">contact the Acas helpline
        </a> – to talk through what the law says and how it relates to you
      </li>
      <li>
        <a href="#" class="govuk-link">get emotional support
        </a>
      </li>
      <li>speak to a trade union representative, if you're a member of a trade union
      </li>
      <li>
        <a href="#" class="govuk-link">get legal advice
        </a> – for example using a solicitor
      </li>
    </ul>
    <h2 class="govuk-heading-m">
      Step 5: Start the form
    </h2>
    <p class="govuk-body">
      Use this form to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        try early conciliation before making a claim
      </li>
      <li>get a certificate to make a claim to an employment tribunal
      </li>
    </ul>
    <p class="govuk-body">
      You will need the name and address of the organisation or employer – find this on a recent letter, payslip, contract, P60 or P45.
    </p>
    <p class="govuk-body">
      The form will automatically save so you can return to it if you need to.
    </p>
    {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
    {{ govukWarningText({
    text: "Submitting this form is the start of a legal process",
    iconFallbackText: "Warning"
    }) }}
    <p class="govuk-body">
      You should make sure you know <a href="https://content.acas.bbdtest.co.uk/dealing-with-problems-at-work" class="govuk-link" rel="noreferrer noopener" target="_blank">what the process involves</a>.
    </p>
    <h3 class="govuk-heading-s">What happens next
    </h3>
    <p class="govuk-body">You’ll be contacted by an Acas conciliator.
    </p>
    {{ govukButton({
    text: "Start now",
    href: "",
    classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
    isStartButton: true
    }) }}
    <br />

    <h3 class="govuk-heading-s">If you need help using this online form
    </h3>
        <p class="govuk-body">
          If you need help or speak another language, contact Acas early conciliation support.
        </p>
        <ul class="govuk-list govuk-body">
          <li>
            Telephone: 0300 123 1122
          </li>
          <li>
            Monday to Friday, 9am to 5pm
          </li>
          <li>
            Relay UK: 18001 0300 123 1122
          </li>
          <li>
            Use Relay UK if you cannot hear or speak on the phone.
          </li>
        </ul>
{% endblock %}
