{% extends "layout.html" %}
{% set title = 'Learn to resolve disputes with an employer' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Find a solution to your employment dispute
</h1>

<p class="govuk-body">
Use this form to begin the legal process of notifying Acas that you want:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>a certificate to make a claim to an employment tribunal</li>
<li>early conciliation - where Acas speaks with you and your employer separately to try and resolve the problem without going to an employment tribunal
</li>
</ul>

<p class="govuk-body">
Check you’ve followed the right steps before starting.
</p>

<h2 class="govuk-heading-m">
Step 1: Check your time limit
</h2>
<p class="govuk-body">
You usually have 3 months minus 1 day to notify Acas. This will depend on the type of work problem you have. <a href="#" class="govuk-link">Find out when your time limit starts</a>.
</p>
<h2 class="govuk-heading-m">
Step 2: Check you’ve followed the right procedure with your employer
</h2>
<p class="govuk-body">
Problems at work can often be resolved by <a href="https://www.acas.org.uk/how-to-raise-a-problem-at-work" class="govuk-link" rel="noreferrer noopener" target="_blank">speaking with your employer</a>.
</p>
<p class="govuk-body">
Before starting the form you should have either:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://www.acas.org.uk/grievance-procedure-step-by-step" class="govuk-link" rel="noreferrer noopener" target="_blank">raised a grievance</a> - this is where you make a formal complaint to your employer</li>
<li><a href="https://www.acas.org.uk/appealing-a-disciplinary-or-grievance-outcome" class="govuk-link" rel="noreferrer noopener" target="_blank">raised an appeal</a> - if you think you were dismissed unfairly</li>
</ul>
<h3 class="govuk-heading-s">
If you did not try to resolve the problem with your employer
</h3>
<p class="govuk-body">
You could lose up to 25% of any compensation you might receive if you make a claim to an employment tribunal.
</p>

<h2 class="govuk-heading-m">
Step 3: Decide if you want early conciliation
</h2>

<p class="govuk-body">Most claims are settled through Acas conciliation rather than at an employment tribunal.</p>

<h3 class="govuk-heading-s">
What early conciliation is</h3>
<p class="govuk-body">
Early conciliation is a free service where Acas speaks with you and your employer separately to:
</p>
<p class="govuk-body">
help you reach an agreement
avoid you having to go to an employment tribunal
</p>
<h3 class="govuk-heading-s">
The benefits
</h3>
<p class="govuk-body">Early conciliation is much quicker and less stressful than going to an employment tribunal because it:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
lasts a maximum of 6 weeks - you can wait up to 1 year for a tribunal hearing</li>
<li>can help keep a good relationship with your employer</li>
<li>gives you a wider choice of outcomes than a tribunal, and they’re still legally binding</li>
</ul>
<h2 class="govuk-heading-m">
Step 4: Start the form to notify Acas about your work problem
</h2>
<p class="govuk-body">
Use this form to:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
get a certificate to make a claim to an employment tribunal</li>
<li>try early conciliation before making a claim</li>
</ul>

<p class="govuk-body">
You must provide:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
your full name - for example, the name on your passport or driving licence</li>
<li>the name and address of the organisation or employer - find this on a recent letter, payslip, contract, P60 or P45</li>
</ul>

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "Submitting this form is the start of a legal process",
  iconFallbackText: "Warning"
}) }}
<p class="govuk-body">
You should:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
check your time limit - you usually have 3 months minus 1 day to make a claim to an employment tribunal</li>
<li>try to resolve the problem with your employer</li>
</ul>

<p class="govuk-body">
The form will automatically save so you can return to it if you need to.</p>
<h3 class="govuk-heading-s">What happens next</h3>
<p class="govuk-body">You’ll be contacted by an Acas conciliator.</p>

{{ govukButton({
  text: "Start now",
  href: "#",
  classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
  isStartButton: true
}) }}
<br />

<h2 class="govuk-heading-m">Get support and advice</h2>
<p class="govuk-body">
Experiencing a work problem can be stressful. It’s important to get the right support or advice.
</p>
<h3 class="govuk-heading-s">Acas helpline</h3>
<p class="govuk-body">You can contact the Acas helpline to talk through your rights around your work problem.</p>
<h3 class="govuk-heading-s">Emotional support</h3>
<p class="govuk-body">Problems at work can cause stress, depression and anxiety. It’s important to talk with someone who can support you. Find out where you can get emotional support.</p>
<h3 class="govuk-heading-s">Getting legal advice</h3>
<p class="govuk-body">To get more advice on your potential claim, you might also want to consult a solicitor or legal firm.</p>

    </div>
    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Help
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <p class="govuk-body">
            If you need help using this online service or speak another language, you can contact Acas early conciliation support.
            </p>
          <ul class="govuk-list govuk-!-font-size-16">
            <li>

                Telephone: 0300 123 1122

            </li>
            <li>

                Relay UK: 18001 0300 123 1122

            </li>
            <li>
              <p class="govuk-body">
              Use Relay UK if you’re D/deaf, hearing impaired or have a speech impediment</p>
<p class="govuk-body">
Welsh language service

We can provide our services in Welsh on request. Yma cewch wybod sut mae cael gafael ar ein gwasanaethau yn Gymraeg.</p>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
