
{% extends "layout_prototype_home.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukButton({
      text: 'View prototype',
      href: '/acas-dispute',
      isStartButton: true
    }) }}
    <h2 class="govuk-heading-m govuk-!-margin-top-5">Step by Step pages</h2>
    <ul class="govuk-list">
      <li>
        <a href="/resolve-a-dispute-with-an-employer">
          Resolve a dispute with an employer: step by step
        </a>
      </li>
      <li>
        <a href="/negotiate-an-agreement-with-an-employer-through-early-conciliation">
          Negotiate an agreement with an employer with early conciliation: step by step
        </a>
      </li>
      <li>
        <a href="/speak-to-an-employer-about-a-work-problem">
          Speak to an employer about a work problem: step by step
        </a>
      </li>
    </ul>


    <h2 class="govuk-heading-m govuk-!-margin-top-5">Related links</h2>
    <ul class="govuk-list">
      <li>
        <a href="https://acas-design-history.herokuapp.com/">
          Design history
        </a>
      </li>
      <li>
        <a href="https://trello.com/b/OgoG2u6N/ws1-idr-content-strategy-2021-smarter-resolution">
          Trello
        </a>
      </li>
      <li>
        <a href="https://">
          Miro Board
        </a>
      </li>
      <li>
        <a href="https://github.com/ministryofjustice/hmpps-manage-supervisions-prototype">
          Prototype GitHub repository
        </a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
